<?xml version="1.0" ?>
<config>
    <modules>
        <Kirchbergerknorr_SeoGenerator>
            <version>1.0.1</version>
        </Kirchbergerknorr_SeoGenerator>
    </modules>
    <default>
        <seogenerator>
            <general>
                <active>1</active>
            </general>
        </seogenerator>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Kirchbergerknorr_SeoGenerator before="Mage_Adminhtml">Kirchbergerknorr_SeoGenerator_Adminhtml
                        </Kirchbergerknorr_SeoGenerator>
                    </modules>
                    <frontName>seogenerator</frontName>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <seogenerator>
                <class>Kirchbergerknorr_SeoGenerator_Model</class>
                <resourceModel>seogenerator_mysql4</resourceModel>
            </seogenerator>
            <seogenerator_mysql4>
                <class>Kirchbergerknorr_SeoGenerator_Model_Mysql4</class>
                <entities>
                    <rules>
                        <table>Kirchbergerknorr_rulesmetatag</table>
                    </rules>
                </entities>
            </seogenerator_mysql4>
        </models>
        <blocks>
            <seogenerator>
                <class>Kirchbergerknorr_SeoGenerator_Block</class>
            </seogenerator>
        </blocks>
        <helpers>
            <seogenerator>
                <class>Kirchbergerknorr_SeoGenerator_Helper</class>
            </seogenerator>
        </helpers>
        <resources>
            <seogenerator_setup>
                <setup>
                    <module>Kirchbergerknorr_SeoGenerator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seogenerator_setup>

            <seogenerator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seogenerator_write>

            <seogenerator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seogenerator_read>
        </resources>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <seogenerator_observer>
                        <class>Kirchbergerknorr_SeoGenerator_Model_Observer</class>
                        <method>addTab</method>
                    </seogenerator_observer>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_load_after>
                <observers>
                    <seogenerator_observer>
                        <class>Kirchbergerknorr_SeoGenerator_Model_Observer</class>
                        <method>loadRules</method>
                    </seogenerator_observer>
                </observers>
            </catalog_category_load_after>
            <catalog_category_prepare_save>
                <observers>
                    <seogenerator_observer>
                        <class>Kirchbergerknorr_SeoGenerator_Model_Observer</class>
                        <method>prepareSave</method>
                    </seogenerator_observer>
                </observers>
            </catalog_category_prepare_save>
            <catalog_category_save_after>
                <observers>
                    <seogenerator_observer>
                        <class>Kirchbergerknorr_SeoGenerator_Model_Observer</class>
                        <method>afterSave</method>
                    </seogenerator_observer>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <seogenerator_observer>
                        <class>Kirchbergerknorr_SeoGenerator_Model_Observer</class>
                        <method>deleteAfter</method>
                    </seogenerator_observer>
                </observers>
            </catalog_category_delete_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Kirchbergerknorr_SeoGenerator>
                    <files>
                        <default>Kirchbergerknorr_SeoGenerator.csv</default>
                    </files>
                </Kirchbergerknorr_SeoGenerator>
            </modules>
        </translate>
        <layout>
            <updates>
                <seogenerator>
                    <file>seogenerator.xml</file>
                </seogenerator>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Kirchbergerknorr_SeoGenerator>
                    <files>
                        <default>Kirchbergerknorr_SeoGenerator.csv</default>
                    </files>
                </Kirchbergerknorr_SeoGenerator>
            </modules>
        </translate>
        <layout>
            <updates>
                <seogenerator>
                    <file>seogenerator.xml</file>
                </seogenerator>
            </updates>
        </layout>
        <menu>
            <catalog>
                <children>
                    <edittag translate="title" module="seogenerator">
                        <title>Auto Create Meta Tags</title>
                        <action>adminhtml/seogenerator/edit</action>
                    </edittag>
                    <edittag1 translate="title" module="seogenerator">
                        <title>NEW SEO Rules</title>
                        <action>adminhtml/seorules/index</action>
                    </edittag1>
                </children>
            </catalog>
        </menu>
    </adminhtml>
</config>